.mobile {
  display: none;
}
@media (max-width: 960px), (max-device-width: 760px), (orientation: portrait) {
  html {
    font-size: 16px;
    font-size: 4.266666666666667vw;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .nav__li button {
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    font-size: 2vw;
  }
  .table {
    display: block;
    overflow: auto;
  }
  .table,
  .country-table {
    max-width: 99%;
    width: 100%;
    * {
      width: 100%;
    }
    .close-btn {
      width: rem(35);
    }
  }
}
